extends /layouts/_default

block vars
    -
        page = {
            title: 'Web Dev Toolkit',
            description: 'Your great description of page'
        }

block main
    h1 Web Dev Toolkit
