doctype html

block vars

html(lang="en")
    head
        include /includes/_head

    body
        include /includes/_header

        .container
            block main

        include /includes/_footer
